<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ asset('css/theme.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <header id="top">
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('blog_blog_homepage') }}">BestBlog</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% block navigation %}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ path('blog_blog_homepage') }}">Home</a></li>
                                <li><a href="{{ path('BlogBlogBundle_about') }}">About</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        {% endblock %}
                    </div>
                </div>
            </nav>
        </header>

        {% set _sidebar = block('sidebar') %}
        <div class="container">
            <div class="row">
                <div class="col-sm-{{ _sidebar ? '9' : '12' }}">
                    <section class="main-col">
                        {% block body %}{% endblock %}
                    </section>
                </div>
                {%if _sidebar%}
                <div class="col-sm-3">
                    <aside class="sidebar">
                        {% block sidebar %}{% endblock %}
                    </aside>
                </div>
                {%endif%}
            </div>

            <footer>
                {% block footer %}
                    Footer Symfony2 blog
                {% endblock %}
            </footer>
        </div>


        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
